
.container.splash
  .logo
  .btn
    GETTING A MAKEOVER
    %br>/
    WE ARE BACK IN APRIL 6
.footer
  %a{:href => "mailto:info@hammers.mx"} info@hammers.mx
  %a{:href => "tel://52-81-196-80151"} +52 (81) 196-80151
  %a{:href => "tel://52-81-196-80152"} +52 (81) 196-80152
