
.container#login
  .login-cont
    .logo
    %p #{t 'login.copy'}
    %a.btn.btn-default.login-btn{href: "http://104.236.137.111/"}

      %span.glyphicon.glyphicon-folder-open
      %p #{t 'login.sharebox'}
    %a.btn.btn-default.login-btn{href: "http://mail.hammers.mx"}

      %span.glyphicon.glyphicon-envelope
      %p #{t 'login.email'}

.footer
  %a{:href => "mailto:info@hammers.mx"} info@hammers.mx
  %a{:href => "tel://52-81-196-80151"} +52 (81) 196-80151
  %a{:href => "tel://52-81-196-80152"} +52 (81) 196-80152