#header
  .header-container
    .logo
    %ul#main-menu
      %li.menu-item
        %a{:href => "#"} ACERCA DE
      %li.menu-item
        %a{:href => "#"} SERVICIOS
      %li.menu-item
        %a{:href => "#"} PROYECTOS
      %li.menu-item
        %a{:href => "#"} CONTACTO
      %li.menu-item.login
        %a{:href => "#"} INGRESAR
      
#home.section
  .container.home-container
    .slide.slide-first.active
      %img.impulsados{:src => "/img/impulsados.png", :alt => ""}/
      %p.copy Recuerda si no está uniformado,<br>identificado y/o no cuenta con la bitácora<br>de la empresa, no es un Hammers.
      / %img.scroll{:src => "/img/scroll-down.png", :alt => ""}/
    .slide.slide-electrico.in
      %img.big-icon{:src => "/img/cat-electrico-big.png", :alt => ""}/
      .content
        %h3 Eléctrico
        %p Receding fetishism construct car silent tanto corporation katana systema beef noodles numinous free-market BASE jump sentient tiger-team camera vehicle. Man numinous soul-delay drone tank-traps dissident construct engine dome.  
        .row
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04


    .slide.slide-mecanico.in
      %img.big-icon{:src => "/img/cat-mecanico-big.png", :alt => ""}/
      .content
        %h3 Mecánico
        %p Receding fetishism construct car silent tanto corporation katana systema beef noodles numinous free-market BASE jump sentient tiger-team camera vehicle. Man numinous soul-delay drone tank-traps dissident construct engine dome.  
        .row
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04 

    .slide.slide-seguridad.in
      %img.big-icon{:src => "/img/cat-seguridad-big.png", :alt => ""}/
      .content
        %h3 Seguridad Electrónica
        %p Receding fetishism construct car silent tanto corporation katana systema beef noodles numinous free-market BASE jump sentient tiger-team camera vehicle. Man numinous soul-delay drone tank-traps dissident construct engine dome.  
        .row
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04

    .slide.slide-aire.in
      %img.big-icon{:src => "/img/cat-aire-big.png", :alt => ""}/
      .content
        %h3 Aire Acondicionado
        %p Receding fetishism construct car silent tanto corporation katana systema beef noodles numinous free-market BASE jump sentient tiger-team camera vehicle. Man numinous soul-delay drone tank-traps dissident construct engine dome.  
        .row
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04
          .col-md-4
            %ul
              %li Test 01
              %li Test 02
              %li Test 03
              %li Test 04 



#categories
  .cat-title-cont
    %img.cat-title{:src => "/img/categorias-title.png", :alt => ""}/
  .categories-menu
    %a.cat-item.cat-electrico{:href => "#", :obj => "#home .slide-electrico"}
      ELÉCTRICO
      .over
    %a.cat-item.cat-mecanico{:href => "#", :obj => "#home .slide-mecanico"}
      MECÁNICO
      .over
    %a.cat-item.cat-seguridad{:href => "#", :obj => "#home .slide-seguridad"}
      SEGURIDAD<br>ELECTRÓNICA
      .over
    %a.cat-item.cat-aire{:href => "#", :obj => "#home .slide-aire"}
      AIRE<br>ACONDICIONADO
      .over

#about.section
  .container.about-container
    .row
      .col-md-12.col-sm-12.col-xs-12.about-intro
        %img.about-logo{:src => "/img/about-hammers-logo.png", :alt => ""}/
        %img.about-copy{:src => "/img/about-copy.png", :alt => ""}/
  .about-contenido
    .container
      .row.about-text
        .col-md-4.col-sm-12.col-xs-12
          %h3 NUESTRA EMPRESA
          %p Futurity 8-bit garage vinyl knife DIY plastic order-flow. Construct camera otaku youtube film plastic skyscraper. Kowloon dome papier-mache nano-pen sub-orbital 8-bit bridge tank-traps denim refrigerator engine realism geodesic range-rover knife systema. Table uplink skyscraper kanji receding alcohol Shibuya. Neon military-grade order-flow narrative media gang woman realism drone systemic j-pop. Knife industrial grade semiotics film savant motion range-rover paranoid youtube into monofilament grenade. Into drugs dolphin bicycle euro-pop Chiba realism cyber-nodal point denim tower stimulate face forwards systema industrial grade paranoid. Dead geodesic tiger-team paranoid engine concrete papier-mache fetishism realism artisanal sunglasses corporation tanto cartel wristwatch. 
        .col-md-4.col-sm-12.col-xs-12
          %h3 LA MEJOR OPCIÓN
          %p Futurity 8-bit garage vinyl knife DIY plastic order-flow. Construct camera otaku youtube film plastic skyscraper. Kowloon dome papier-mache nano-pen sub-orbital 8-bit bridge tank-traps denim refrigerator engine realism geodesic range-rover knife systema. Table uplink skyscraper kanji receding alcohol Shibuya. Neon military-grade order-flow narrative media gang woman realism drone systemic j-pop. Knife industrial grade semiotics film savant motion range-rover paranoid youtube into monofilament grenade. Into drugs dolphin bicycle euro-pop Chiba realism cyber-nodal point denim tower stimulate face forwards systema industrial grade paranoid. Dead geodesic tiger-team paranoid engine concrete papier-mache fetishism realism artisanal sunglasses corporation tanto cartel wristwatch. 
        .col-md-4.col-sm-12.col-xs-12
          %h3 NUESTRO COMPROMISO
          %p Futurity 8-bit garage vinyl knife DIY plastic order-flow. Construct camera otaku youtube film plastic skyscraper. Kowloon dome papier-mache nano-pen sub-orbital 8-bit bridge tank-traps denim refrigerator engine realism geodesic range-rover knife systema. Table uplink skyscraper kanji receding alcohol Shibuya. Neon military-grade order-flow narrative media gang woman realism drone systemic j-pop. Knife industrial grade semiotics film savant motion range-rover paranoid youtube into monofilament grenade. Into drugs dolphin bicycle euro-pop Chiba realism cyber-nodal point denim tower stimulate face forwards systema industrial grade paranoid. Dead geodesic tiger-team paranoid engine concrete papier-mache fetishism realism artisanal sunglasses corporation tanto cartel wristwatch. 
  .about-principios
    .container
      .row
        .col-md-6.col-sm-12.col-xs-12
          %h3 SIETE PRINCIPIOS BÁSICOS<br>DE LA EMPRESA
      .row
        .col-md-12.col-sm-12.col-xs-12
          %img{:src => "/img/about-principios.png", :alt => ""}/
#contacto.section
  .contacto-container
    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.3000729321593!2d-100.3708681!3d25.694486999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662966ab5720b51%3A0x6158dfec4c90aca4!2sBlvrd+Puerta+del+Sol+1197%2C+Colinas+de+San+Jer%C3%B3nimo+10o.+Sector%2C+Monterrey%2C+N.L.!5e0!3m2!1sen!2smx!4v1428492301194" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
    .row
      .col-md-4.col-md-offset-7.contacto-form
        .contacto-form-cont
          %h3 Bolsa de<br>trabajo
          %p Futurity 8-bit garage vinyl knife DIY plastic order-flow. Construct camera otaku youtube film plastic skyscraper. Kowloon dome papier-mache nano-pen sub-orbital 8-bit bridge tank-traps denim refrigerator engine realism geodesic range-rover knife systema.

          %form{:action => "MAILTO:info@hammers.com", :enctype => "text/plain", :method => "post"}
            Nombre Completo:
            %br/
            %input{:name => "name", :type => "text"}/
            %br/
            Correo:
            %br/
            %input{:name => "mail", :type => "text"}/
            %br/
            Teléfono:
            %br/
            %input{:name => "phone", :type => "text"}/
            %br/
            Mensaje:
            %br/
            %input{:name => "comment", :size => "50", :type => "text"}/
            %br/
            %br/
            %input{:type => "submit", :value => "Enviar", :class => "sendbtn"}/
            %input{:type => "reset", :value => "Borrar", :class => "sendbtn"}/


  